h5 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    width: 100%;
    text-align: center;
}
.game {
  width: 255px;
  text-align: center;
  font-family: "system-ui";
  color: #fff;
  margin: auto;
  font-weight: 500;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 10%);
}
.title {
  background-color: #f25;
  padding: 5px 0;
  margin: 5px 0;
  
    font-size: 30px;
}
span {
  color: #fa0;
}
.square {
  width: 80px;
  height: 80px;
  background-color: #f25;
  /* display: inline-block; */
  float: left;
  margin: 2px;
  font-size: 50px;
  transition: 0.3s;
}
.square:hover {
  background-color: #222;
  cursor: pointer;
}
.popup {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 10%);
  width: 255px;
  margin: auto;
  padding: 61px 9px;
  font-size: 33px;
  font-weight: 700;
  background-color: rgb(0, 0, 0);
  color: #fff;
  direction: rtl;
  text-align: center;
  line-height: 1;
}
